:root {
  --logo-color: #7aa53a;
  --bc-color: #bfcf8b;
  --bc-1-color: #b57f50;
  --bc-2-color: #f9688a;
  --text-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

/*HEADER-SECTION*/
.header-section {
  display: flex;
  background: linear-gradient(
    70deg,
    var(--bc-1-color) 0%,
    var(--bc-1-color) 85%,
    var(--bc-2-color) 85%,
    var(--bc-2-color) 100%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.header-wrapper > div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header-wrapper p {
  font-size: 24px;
  margin-top: 10px;
}

.logo {
  height: 150px;
  width: 150px;
}

.clock {
  width: 80px;
  height: 80px;
}

.hours {
  flex-direction: column;
  line-height: 1.4;
}

.email {
  width: 80px;
  height: 80px;
}

.mobile {
  transform: scaleX(-1);
  width: 80px;
  height: 80px;
}

/*DYNE-DEN.HTML*/
.dyne-gallery {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  height: 1500px;
  text-align: center;
  box-sizing: border-box;
}

.dyne-gallery h1 {
  font-size: 45px;
  color: var(--bc-2-color);
  margin-bottom: 15px;
  font-family: "Pacifico", cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.dyne-gallery p {
  font-size: 28px;
  color: var(--text-color);
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.dyne-gallery img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*FOOTER-SECTION*/
.footer-container {
  background-color: var(--bc-1-color);
  color: var(--bc-2-color);
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.footer-container h4 {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
  color: white;
  line-height: 1.6;
}

.footer-copywright {
  font-size: 18px;
  color: var(--text-color);
}
